@font-face {
    font-family:deja ;
    src: url(font/DejaVuSans.ttf);
}

.pcard-img{
    width: auto;
    margin: 0 auto;
    height: 300px;
    padding: 15px;
  

}
.product-img{
    background-color: rgb(228, 228, 228);
    text-align: center;
    border-radius: 10px;
    margin: 25px  ;
}
.icon{
    width:100px;
    height: 100px;
    
}

body{
    font-family: deja;
    display: block;
}
h1, h2, h3, h4, h5, p{
    font-family: deja;
}
h3,h2,h5 {
    font-weight:bolder!important;
    font-size:25px   !important;
}
button{
    font-weight: 500;
}
.main a{
    font-weight:500;
    font-size:20px;
    color:rgba(0,0,0,.9) !important}

.main a:hover{
    color:#ccc !important;
}
.sizing img{
    height: 30px;
    width: 180px;
}
.navbar-nav a{
    padding-left: 3rem !important;
    display: inline-block;
}
.header-image{
    width: 100%;

}
.container{
    margin-bottom: 100px;
}
.haed-name{
    text-transform: uppercase;
    font-weight: 700;
    font-size:55px;
    
   
    
}
.second p {
    font-size: 20px;
    font-weight: 500;
}
#color{
    color: #fabe4c;
}
#similar-color,h2,h3,h5{
   color: #363958; 

}
#bye-now{
    background-color: #94ae2e;
    border-radius: 10px;
    border: none;
    padding: 15px 25px;
    font-size: 20px;

}
.gray-bg{
    background-color: #fffbf0;
    padding: 50px;
}
.price{
    font-weight: bold;
    font-size:40px;
}
.card{
    border: none !important;
    
}
.card-footer{
    border-top: none !important ;
    background-color: white !important;

}
.icon-size{
    padding: 8px;
    border-radius: 15px !important;
}
.last-images{
    
    width: 100%;
}
.do-gap{
    margin-right: 3px !important;
}
.second p{
    font-size:25px;
}
.last-part{
    display:none;
}






@media only screen and (max-width: 600px) {
 
 .navbar-collapse{
    display:block
}
.second p{
    font-size:15px;
}
.thrid h2{
    text-align:center;
}
.forth h2{
  text-align:center;  
}
.normal-show{
    display:none;
}
.last-part{
    margin-bottom:60px;
    display:block;
}
.last-body{
    text-align:center;

}
.last-body h5{
    font-size:30px;
}
.last-body p{
    font-size:20px;
}
.price{
    font-size:40px !important;
}
#bye-now{
    padding: 25px 35px;
}
.header-image{
    margin-top:30px;
    
}
}